.itineraries-container {
    padding: 20px;
    text-align: center;
  }
  
  .itinerary-list {
    list-style-type: none;
    padding: 0;
  }
  
  .itinerary-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px auto;
    padding: 20px;
    max-width: 700px;
    display: flex;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .itinerary-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .itinerary-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .itinerary-content {
    text-align: left;
  }
  
  .itinerary-name {
    font-size: 1.5em;
    margin: 0;
    color: #5271ff;
  }
  
  .itinerary-description {
    font-size: 1em;
    color: #666;
  }

  .initial-text {
    color: var(--theme-color);
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 5px;
    z-index: 2;
    font-size: 24px;
  }

  .sub-text {
    color: #1a329a;
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 25px;
    z-index: 2;
    font-size: 18px;
  }
  