.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ensure the header spans the full width of the viewport */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .nav {
    display: flex;
  }
  
  .nav a {
    color: var(--theme-color);
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
  }
  
  .nav a:hover {
    background-color: rgba(82, 113, 255, 0.1);
    border-radius: 5px;
  }
  